<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>SkillsGuru | Home</title>
	<link rel="icon" href="static/logo.jpeg" type="image/gif" sizes="32x32">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Outfit:wght@200;300;400;600;700;900&family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="static/index.css">
</head>
<style type="">
	#container {
  position: fixed;
  width: 100px;
  height: 100px;
}
@font-face {
  font-family: myFirstFont;
  src: url(static/TragicMarker_06fd00c66fe8975befc0ebfe9dcfd778.otf);
}
</style>



<body style="overflow-x:hidden; background:#FBFBFC;" id="home">
<div id="nav">

<ol id="mobnav">
  <li style=" color: #0F75BB; font-size:18px;">About</li>
 <li style=" color: #F7941C; font-size:18px;">Login</li>
  <li style=" color: #0F75BB; font-size:18px;">Courses</li>
</ol>	

<p id="logo">Skills<span style="color: #F7941C;" id="home">Guru</span>kul.</p>
<div id="nav_cont" >
<a href="#home"><p class="navsc" style="font-family: 'Fredoka One', cursive; color: #0F75BB; position:relative; float:left; margin-left:20px; font-size:18px;">Home</p></a>
<a href="#connect">
<p class="navsc" style="font-family: 'Fredoka One', cursive; color: #F7941C; position:relative; float:left; margin-left:20px; font-size:18px;">
Contact
</p></a>
<a href="#courses">
<p class="navsc" style="font-family: 'Fredoka One', cursive; color: #0F75BB; position:relative; float:left; margin-left:20px; font-size:18px;">Courses</p></a>
<a href="#kdsshcnt">
<p class="navsc" style="font-family: 'Fredoka One', cursive; color: #F7941C; position:relative; float:left; margin-left:20px; font-size:18px;">
Student Showcase
</p></a>
<div class="container" style="display:none;">
  <div class="bar1" style="background: #0F75BB"></div>
  <div class="bar2" style="background:#0F75BB"></div>
  <div class="bar3" style="background: #0F75BB"></div>
</div>

</div>
</div>
 
<div id="part1">
<div id="animContainer" style="">
</div>
<div id="pt1hed">
  <p id="pt1hedcnt">Teaching skills for a Brighter Future</p>
  <p id="pt1cnt">A conventional spin back to the days when students used to sit under the shade of trees, surrounding their one Guru to learn valuable life skills. </p>
   
  <a href="#connect">
    <button id="pt1sub"><b>LET'S CONNECT</b> </button>
   </a>
<p id="pt1frmdt">Get Started with regular Updates from SkillsGurukul</p>


</div>
</div>

<div id="lm">
	<center>Learn more <img src="static/Images/learn-more-arrow.svg">	</center>
</div>



<div id="part2">
	<div id="animContainer1" style=""></div>
		<div id="anim1cnt">
			<p id="anim1shrthd">
				IDEATION
			</p>
			<p id="anim1bighd">
				Pave A Personalised Path
			</p>
			<p id="anim1dis">
				Revitalising the ancient Gurukul ideology as we teach students how to spark original practical ideas with a small crew which put all their personalised focus onto you.
			</p>
			<p id="anim1chkbox">
				<span><i class="fa fa-check" style="color: #20B573"></i> Prepping students with personal care for individuality.</span><br>
				<span><i class="fa fa-check" style="color: #20B573"></i> Promoting innovative thinking through handy projects.</span><br>
				<span><i class="fa fa-check" style="color: #20B573"></i> Paving a better future with practical applications.</span>
			</p>
            <button id="anim1lm">Learn More</button>
		</div>
</div>


<div id="part3">
	<div id="animContainer2" style=""></div>
		<div id="anim2cnt">
			<p id="anim2shrthd">
				LIFE SKILLS
			</p>
			<p id="anim2bighd">
				Raise A Reliable Future
			</p>
			<p id="anim2dis">
				Wrapped around the tree of life, our Gurus teach real life skills necessary to survive in the world of the future promoting free and original thinking.
			</p>
			<p id="anim2chkbox">
				<span><i class="fa fa-check" style="color: #3E71C4"></i> Teaching skills to make students ready to face the world.</span><br>
				<span><i class="fa fa-check" style="color: #3E71C4"></i> Free flow of ideas among students to promote originality.</span><br>
				<span><i class="fa fa-check" style="color: #3E71C4"></i> Bringing ideas to life with guidance through our Gurus.</span>
			</p>
            <button id="anim2lm">Learn More</button>
		</div>
</div>





<div id="part5">
	<div id="oc">
	<center id="courses">Our Courses <img src="static/Images/learn-more-arrow.svg">	</center>
</div>
<i class="fa fa-chevron-left" style="position:absolute; top:45%; left:2%; z-index:4; color:#F7941C; font-size:20px;"></i>
<i class="fa fa-chevron-right" style="position:absolute; top:45%; right:2%; z-index:4; color:#F7941C; font-size:20px;"></i>
<div id="part6">

		<div id="part6dv" class="box" style="background:#292F4D;">
			<div id="pt6cnt">
				<p id="pt6txt">Coding & Game Dev</p>
			</div>
			<div id="pt6img">
				<img src="/static/Images/Smash Illustrations/Ready-to-use Scenes/Png/Designers.png" id="pt6imgct">
			</div>
			<div id="pt6stxt">
				<p id="pt6sttx">
            <ul style="font-family: 'Outfit', sans-serif; color:white;">
            	<style type="text/css">
            		li{padding:2px;}
            	</style>
            	<li> Python 1</li>
                <li> Python 2</li>
                <li> Python 3</li>
                <li>Web Development (Javascript)</li>
                <li>Game Development</li>

            </ul>
            </p>
			</div>
			

		</div>
		<div id="part6dv" class="box" style="background:#0e64e6; margin-left:5%;">
			<div id="pt6cnt">
				<p id="pt6txt">Business & Finance</p>
			</div>
			<div id="pt6img">
				<img src="/static/Images/Smash Illustrations/Ready-to-use Scenes/Png/New app.png" id="pt6imgct">
			</div>
            <div id="pt6stxt">
				<p id="pt6sttx">
            
            <ul style="font-family: 'Outfit', sans-serif; color:white;">
            	<style type="text/css">
            		li{padding:2px;}
            	</style>
            	<li> Business & Personal Finance 1</li>
                <li> Business & Personal Finance 2</li>
                <li>Enterprenuership 1</li>
                <li>Entrepenureship 2</li>
                <li>Finance & Technology</li>
            </ul>
            </p>
			</div>


		</div>
		<div id="part6dv" class="box" style="background:#F5A623; margin-left:5%;">
			<div id="pt6cnt">
				<p id="pt6txt">AP Mathematics</p>
			</div>
			<div id="pt6img">
				<img src="{% static 'Images/Smash Illustrations/Ready-to-use Scenes/Png/Photo stock.png' %}" id="pt6imgct">
			</div>
			<div id="pt6stxt">
				<p id="pt6sttx">
            <ul style="font-family: 'Outfit', sans-serif; color:white;">
            	<style type="text/css">
            		li{padding:2px;}
            	</style>
            	<li> Pre Algebra</li>
                <li> Algebra 1 & Geometry 1</li>
                <li> Algebra 2</li>
                <li>Calculus</li>
                <li>AP Courses</li>
            </ul>
            </p>
			</div>

		</div>
		
	</div>
</div>
<script type="text/javascript">
	open=0;
	$(document).ready(function(){  
   if ($(window).width() < 556) {
   	$(".container").css({"display":"block"});
   	$(".container").click(function(){
        if (open==0) {
        	$("#mobnav").css({"display":"block"});
        	open=1;
        } else {
        	$("#mobnav").css({"display":"none"});
        	open=0;
        }
   		
   		


   		});
   }
});
</script>
<script type="text/javascript">
rs=2;
ls=0;
$(document).ready(function(){  
   if ($(window).width() < 556) {
  $(".fa-chevron-right").click(function(){
      if (rs!=0){

        $("#part6").animate({left: "-=415px"},"slow");
        rs-=1;
        ls+=1
      }
  });
$(".fa-chevron-left").click(function(){
      if (ls!=0){
        $("#part6").animate({left: "+=415px"},"slow");
        ls-=1;
        rs+=1;
      }
  });
   }
});
</script> 
<a href="#connect">
<button id="letscon"><b>LET'S CONNECT</b> </button>
</a>

<div id="kdsshcnt">
		<div style="position:relative; top:0%; left:0%; font-size:29px; overflow:hidden;font-family:myFirstFont;color: #2271E8;">
	<center>Student Showcase <img src="static/Images/learn-more-arrow.svg">	</center>
</div>
</div>



<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

<i class="fa fa-chevron-left" id="lefts" style="position:absolute; top:4050px; left:2%; z-index:4; color:#0F75BB; font-size:20px;"></i>
<i class="fa fa-chevron-right" id="rights" style="position:absolute; top:4050px; right:2%; z-index:4; color:#0F75BB; font-size:20px;"></i>
<div id="kidshow">
<div id="kdshow" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
		<div id="kdname" style="">
			<p id="proname">SkillsGurukul </p>
			<div id="wd">Web Design</div>
             <div id="wd">Advanced Python</div>
		</div>
		<img src="static/Works/Snaps/w_s_3.png" id="kdimg">
		<p id="kdshowtg">

		<span style="color:#F7941C; background:white; padding:6px; border-radius:5px; padding-top:2px; padding-bottom:2px;">Web Development <i class="fa fa-globe"></i></span><br>
		
	     </p>
	</div>
	<div id="kdshow" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
	
		<div id="kdname">
			<p id="proname">Techtonium Gaming UI/UX</p>
			<div id="bu">Business</div>
            <div id="wd">Web Design</div>
				
		</div>
		<img src="static/Works/Snaps/w_s_2.png" id="kdimg">
		<p id="kdshowtg">
		<span style="color:#F7941C; background:white; padding:6px; border-radius:5px; padding-top:2px; padding-bottom:2px;">Game Development <i class="fa fa-gamepad" aria-hidden="true"></i></span><br>
	     </p>
	</div>
	
	<div id="kdshow" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
		<div id="kdname" style="">
			<p id="proname">Puppies Papadise </p>
			<div id="bu">Business</div>
            <div id="wd">Web Design</div>

		</div>
		<img src="static/Works/Snaps/w_s_1.png" id="kdimg">
		<p id="kdshowtg">
		<span style="color:#F7941C; background:white; padding:6px; border-radius:5px; padding-top:2px; padding-bottom:2px;">Entrepreneurship <i class="fa fa-line-chart"></i></span><br>
	     </p>
	</div>
	</div>
	
</div>
<script type="text/javascript">
rss=2;
lss=0;
$(document).ready(function(){  
   if ($(window).width() < 556) {
  $("#rights").click(function(){
      if (rss!=0){
        $("#kidshow").animate({left: "-=350px"},"slow");
        rss-=1;
        lss+=1
      }
  });
$("#lefts").click(function(){
      if (lss!=0){
        $("#kidshow").animate({left: "+=350px"},"slow");
        lss-=1;
        rss+=1;
      }
  });
   }
});
</script> 
<button id="connect">
		View More
	</button>
<div id="part8">
	<div id="pt8cnt">
	<p id="pt8hd" style="">Contact Us</p><br>
	<p id="pt8sm" style="">Thank you for gracing our platform with your presence. For any inquiries, contact us <i class="fa fa-long-arrow-right"></i>
		</p></div>
<form id="pt8fm" method="POST">
    	{% csrf_token %}
  	{% for field in form %}
      
  	{{ field }}

  	
  	{% endfor %}

    <button type="submit" id="pt8bt"><b>Get Started</b> <i style="" class="fa fa-bell"></i></button>

  </form>

		</div>

		
</div>

<div id="foot">
	<div id="footlogocnt">
		<p style="font-family: 'Fredoka One', cursive; color: #0F75BB; font-size:26px;">Skills<span style="color: #F7941C;">Guru</span>kul.</p>
		<p id="footlogotxt">Skills for tomorrow through old school learning using new age technology.</p>
	</div>
	<div id="ftsmhdct">
		<p id="ftsmhdcnt">CODING</p>
		<p id="ftsmhdstf">

			<span> Python 1</span><br>
            <span> Python 2</span><br>
            <span> Python 3</span><br>
            <span>Web Dev (Javascript)</span><br>
            <span>Game Development</span><br>
		</p>
	</div>
	<div id="ftsmhdct" style="">
		<p id="ftsmhdcnt">AP Mathematics</p>
		<p id="ftsmhdstf">
			<span>Pre Algebra</span><br>
			<span>Algebra 1 & Geometry 1</span><br>
			<span>Algebra 2</span><br>
			<span>Calculus</span><br>
			<span>AP Courses</span><br>
		</p>
	</div>

	<div id="ftsmhdct" style="">
		<p id="ftsmhdcnt">Business & Finance</p>
		<p id="ftsmhdstf">
			<span>Business & Personal Finance 1</span><br>
			<span> Business & Personal Finance 2
</span><br>

			<span>Entrepenureship 1</span><br>
			<span>Entrepenureship 2</span><br>
			<span>Finance and Technology</span><br>

		</p>
	</div>

	<div id="ftsmhdct" style=";">
		<p id="ftsmhdcnt">SkillsGurukul</p>
		<p id="ftsmhdstf">
		<a href="#home">
		<span>Home</span><br></a>
		<a href="#connect">
			<span>Contact</span><br></a>
        <a href="#courses">
			<span>Courses</span><br></a>
		<a href="#kdsshcnt">
			<span>Student Showcase</span><br></a>
		</p>
	</div>


    <div style="float:left; width:100%; height:50px; border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; color: #0F75BB; font-size:20px; padding-top:10px;">
		<center><i class="fa fa-facebook-square"></i>
			<i class="fa fa-instagram" style="margin-left:20px;"></i>
			<i class="fa fa-github" style="margin-left:20px;"></i>
		</center>
	</div>
	<div style="float:left; width:100%; font-family: 'Outfit', sans-serif; font-weight:300; height:50px;  color: #a6a6a6; font-size:16px; padding-top:10px;">
		<center>Copyright © SkillsGurukul 2022. All rights reserved.
		</center>
	</div>

</div>
  <!-- Scripts -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.5/lottie.min.js'></script> <!-- path of bodymovin library-->
  <script type="text/javascript" src="static/index.js"></script>
  <script type="text/javascript">
	$(window).scroll(function () {
  if($(window).scrollTop() > 150) {
    $('#nav').css('border-bottom', '1px solid #eaeaea');
  } else {
  $('#nav').css('border-bottom', 'none');
  }
});
</script>
</body>



</html>