@font-face {
  font-family: exfont1;
  src: url(Fonts/NHaasGroteskTXPro-55Rg.ttf);
}

html {
  scroll-behavior: smooth;
} 

.nav{font-family: 'Shippori Antique B1', sans-serif; font-size:15px; line-height: 140%; color:white; font-weight:400; letter-spacing:0.5px; }
#S{position:absolute; font-family: 'Poppins', sans-serif; color:white; font-size:180px; position:absolute; left:14%;}
#K{position:absolute; font-family: 'Poppins', sans-serif; color:white; font-size:180px; position:absolute; right:13%;}


@keyframes float {
	0% {

		transform: translatey(0px);
	}
	50% {

		transform: translatey(-20px);
	}
	100% {

		transform: translatey(0px);
	}
}

input:focus{
    outline: none;
}

#wd{float:left; color:#F7941C; padding:1px; font-weight:500; padding-left:5px; padding-right:5px;  margin-left:10px; position:relative; top:-2px; font-family: 'Outfit', sans-serif; border:2px solid #F7941C; width:auto;}
#bu{float:left; color:#0e64e6; padding:1px; font-weight:500; padding-left:5px; padding-right:5px;  margin-left:10px; position:relative; top:-2px; font-family: 'Outfit', sans-serif; border:2px solid #0e64e6; width:auto;}



#nav{position:fixed; top:0px; left:0px; width:100%; height:80px; z-index:10; background:#FBFBFC;}
#logo{font-family: 'Fredoka One', cursive; color: #0F75BB; position:absolute; top:0px; left:30px; font-size:26px;}
#nav_cont{position:absolute; right:20px; top:10px;}
#mobnav{display:none; list-style-type:none;position:fixed; top:60px;  background:#FBFBFC; border-bottom-left-radius:10px; right:2%; padding-right:10px; width:auto; height:130px; z-index:10; font-family: 'Fredoka One', cursive;}

.fa-chevron-left{display:none;}
.fa-chevron-right{display:none;}
#part1{position:absolute; top:0%; left:0%; width:100%; height:107%; overflow:hidden;}
#animContainer{position:absolute; top:5%; width:50%; left:47%; z-index:-5;}
#pt1hed{position:absolute; top:13%; left:6%; width:40%;}
#pt1hedcnt{font-family: 'Playfair Display', serif; line-height:110%; font-size:70px; color:#253138; }
#pt1cnt{font-family: 'Outfit', sans-serif; position:relative; top:-60px; line-height:150%; font-weight:200; font-size:22px; color:#253138; }
#pt1cntli{font-family: 'Outfit', sans-serif; font-weight:200; font-size:22px; color:#253138;}
#pt1frm{position:relative; width:auto; height:200px; top:-30px; left:5px;}
#pt1inp{float:left; width:320px; height:50px; margin-top:10px; border:none; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; border-radius:5px; padding-left:10px; font-size:18px;}
#pt1sub{transition: 0.2s; float:left; width:180px; height:50px; margin-top:-35px;  border-radius:26px; color:white; background:#0F75BB;text-decoration: none; border:1px solid #0F75BB; font-size:14px;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;font-family: 'Outfit', sans-serif; font-weight:400;}
#pt1sub:hover{opacity:0.85;}

#pt1frmdt{opacity:0; font-family: 'Outfit', sans-serif; float:left;line-height:150%; font-weight:300; font-size:16px; color:#253138; }
#lm{position:absolute; top:120%; left:0%; width:100%; height:10%;font-size:29px; overflow:hidden;font-family:myFirstFont;color: #2271E8;}

#part2{position:absolute; top:130%; left:0%; width:100%; height:100%; overflow:hidden;}
#animContainer1{position:absolute; top:15%; width:50%; left:0%; z-index:-5;}
#anim1cnt{position:absolute; top:15%; width:35%; left:55%; z-index:1;}
#anim1shrthd{font-family: 'Outfit', sans-serif; color:#20B573; font-size: 20px; font-weight:200;}
#anim1bighd{font-family: 'Roboto', sans-serif; color:#292F4D; position:relative; top:-30px; font-size: 40px;}
#anim1dis{position:relative; top:-60px;color:#717589;font-family: 'Outfit', sans-serif;font-weight:200; font-size:18px;}
#anim1chkbox{position:relative; top:-60px;color:#494E8A;font-family: 'Outfit', sans-serif;font-weight:200; font-size:18px; line-height:180%;}
#anim1lm{position:relative; top:-30px; left:10px; width:140px; height:55px; font-family: 'Roboto', sans-serif; border:2.5px solid #20B573; background:none; color:#20B573; border-radius:5px; font-size:16px;}

#part3{position:absolute; top:475%; left:0%; width:100%; height:100%; overflow:hidden;}
#animContainer2{position:absolute; top:0%; width:40%; left:50%; z-index:5;}
#anim2cnt{position:absolute; top:15%; width:35%; left:5%; z-index:1;}
#anim2shrthd{font-family: 'Outfit', sans-serif; color:#3E71C4; font-size: 20px; font-weight:200;}
#anim2bighd{font-family: 'Roboto', sans-serif; color:#292F4D; position:relative; top:-30px; font-size: 40px;}
#anim2dis{position:relative; top:-60px;color:#717589;font-family: 'Outfit', sans-serif;font-weight:200; font-size:18px;}
#anim2chkbox{position:relative; top:-60px;color:#494E8A;font-family: 'Outfit', sans-serif;font-weight:200; font-size:18px; line-height:180%;}
#anim2lm{position:relative; top:-30px; left:10px; width:140px; height:55px; font-family: 'Roboto', sans-serif; border:2.5px solid #3E71C4; background:none; color:#3E71C4; border-radius:5px; font-size:16px;}

#part4{position:absolute; top:320%; left:0%; width:100%; height:100%; overflow:hidden;}
#animContainer3{position:absolute; top:0%; width:40%; left:0%; z-index:-5;}
#anim3cnt{position:absolute; top:15%; width:35%; left:55%; z-index:1;}
#anim3shrthd{font-family: 'Outfit', sans-serif; color:#FFCB3D; font-size: 20px; font-weight:200;}
#anim3bighd{font-family: 'Roboto', sans-serif; color:#292F4D; position:relative; top:-30px; font-size: 40px;}
#anim3dis{position:relative; top:-60px;color:#717589;font-family: 'Outfit', sans-serif;font-weight:200; font-size:18px;}
#anim3chkbox{position:relative; top:-60px;color:#494E8A;font-family: 'Outfit', sans-serif;font-weight:200; font-size:18px; line-height:180%;}
#anim3lm{position:relative; top:-30px; left:10px; width:140px; height:55px; font-family: 'Roboto', sans-serif; border:2.5px solid #FEB92C; background:none; color:#FEB92C; border-radius:5px; font-size:16px;}

#part5{position:absolute; top:230%; left:0%; width:100%; height:100%;}
#oc{position:relative; top:10%; left:0%; width:100%; height:10%;font-size:29px; overflow:hidden;font-family:myFirstFont;color: #2271E8;}
#note{position:absolute; text-align:right; right:1%; bottom:5%; font-size:13px; font-family: 'Outfit', sans-serif; font-weight:200;}
#part6{position:absolute; top:25%; left:3%; width:94%; height:75%;}
#part6dv{float:left; height:100%; margin-left:3%; width:28%; border-radius:10px; overflow:hidden;}
#pt6cnt{position:relative; top:5%; width:90%; left:0%; height:35%;}
#pt6txt{font-family: 'Outfit', sans-serif; position:absolute; left:10%; font-size:30px; color:white; font-weight:700; letter-spacing:0.5px;}
#pt6img{display:block; position:relative; top:10%; width:90%; left:0%; height:50%;}
#pt6imgct{height:100%; z-index:1;}
#pt6stxt{ opacity:0; position:relative; top:20%; width:80%; left:10%; height:50%; transition: opacity 0.5s;}
#pt6sttx{font-family: 'Outfit', sans-serif; font-size:20px; color:white; font-weight:700; letter-spacing:0.5px;}
#part6dv:hover #pt6stxt{top:0%; opacity:1;}
#part6dv:hover #pt6img{display:none;}

#part7{position:absolute; top:530%; left:0%; width:100%; height:100%; overflow:hidden;}
#pt7svg{position:absolute; top:10%; left:25%; width:45%; height:45%;}
#pt7chr{position:absolute; top:10%; left:25%; width:45%; height:45%;}
#pt7img{width:180px; height:180px; border-radius:50%; position:absolute; top:60%; overflow:hidden; border:3px solid #cccccc;}
#pt7head{font-family: 'Roboto', sans-serif; color:#292F4D; font-size:35px; margin-top:50px;}
#pt7cmt{font-family: 'Outfit', sans-serif; font-weight:200; font-size:16px; color:#292F4D;}
#pt7nm{color: #2271E8; font-weight:300;}
#pt7pos{color:#292F4D; font-weight:300;}

#part8{position:absolute; font-family: 'Outfit', sans-serif; font-weight:600; top:580%; left:0%; width:100%; height:60%; background: #0D42AF; overflow:hidden; color:white;}
#pt8hd{font-size:30px; position:relative; top:50px;font-weight:800; letter-spacing:1px; font-size:50px;}
#pt8sm{font-size:20px; width:90%; position:relative; left:0%; line-height:100%; top:70px;font-weight:500; letter-spacing:1px; font-size:20px; position:relative; top:-30px;}
#pt8fm{width:20%; height:300px; position:absolute; top:13%; left:65%;}
#pt8ip{float:left; width:300px; height:50px; border:none; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; border-radius:5px; padding-left:10px; font-size:18px;}
#pt8bt{float:left; width:135px; height:50px; margin-top:10px; border-radius:5px; color:white; background:#F5A623;text-decoration: none; border:none; font-size:15px; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;font-family: 'Outfit', sans-serif;}

#foot{position:absolute; font-family: 'Outfit', sans-serif; font-weight:600; top:640%; left:0%; width:100%; height:65%; overflow:hidden; color:white;}
#footlogocnt{float:left; margin:40px; margin-left:80px;}
#footlogotxt{font-family: 'Outfit', sans-serif; font-weight:200; font-size:16px; position:relative; top:-20px; color:#292F4D; width:250px;}
#ftsmhdct{float:left; margin:40px; margin-left:80px; margin-top:80px; width:100px; height:auto;}
#ftsmhdcnt{font-family: 'Outfit', sans-serif; font-weight:600; font-size:16px; position:relative; top:-20px; color:#a6a6a6; width:250px; letter-spacing:0.5;}
#ftsmhdstf{font-family: 'Outfit', sans-serif; font-weight:300; font-size:14px; position:relative; top:-20px; color:#292F4D; width:250px; letter-spacing:0.5; line-height:190%;}

#kdsshcnt{position:absolute; top:370%; width:100%; height:10%; left:0%;}

#kidshow{position:absolute; top:390%; width:96%; left:2%; overflow:hidden; height:80%;}

#kdshow{position:relative; float:left; width:30%; height:420px; overflow:hidden; margin-left:2.5%; cursor:pointer;}
#kdshowtg{position:absolute; top:27%; left:50px; color:white; font-size:25px; font-family: 'Fredoka One', cursive;}
#kdimg{position:relative; top:0%; width:100%; transition:0.3s;}
#kdshow:hover #kdshowtg{display:none;}
#kdshow:hover #kdimg{  filter:blur(0px);}

#kdname{position:absolute; top:77.5%; left:0%; width:100%; height:22.5%; background:white; font-family: 'Roboto', sans-serif; z-index:5;}
#proname{position:relative; top:2px; left:20px; font-size:16px; color:#202121; font-weight:400;}
#creator{position:relative; top:-7px; margin-left:20px; font-size:13px; color:#202121; letter-spacing:0.5px; font-weight:300;}
#creatorname{position:relative; top:5px;}
#creatorpic{float:left; width:30px; height:30px; margin-right:15px; clip-path: circle(50% at 50% 50%);}
#viewm{cursor:pointer; position:absolute; top:465%; width:15%; height:7%; left:42.5%; font-family: 'Roboto', sans-serif; border:2.5px solid #f2f2f2; background:#f2f2f2; color:#a6a6a6; border-radius:5px; font-size:16px; z-index:5;}
#viewm:hover{color:#808080; background: #e6e6e6;}

.container {
  display: inline-block;
  cursor: pointer;float:left; margin-left:20px; font-size:18px;
  position:relative; top:20px;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 4px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
  border-radius:2px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
#pt7cmtpos{position:absolute; left:35%; top:60%;}




.box {
  cursor:pointer;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.1, 1.1);
  opacity:0.95;

}
.box:hover #kdname{
opacity:1;
}

.box:hover::after {
    opacity: 1;
}
a{text-decoration:none;}
#txtarmsg{float:left; width:350px; height:120px; margin-top:10px; border:none; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; border-radius:5px; padding-left:10px; font-size:18px;}
#letscon{transition:0.2s; position:absolute; width:14%; left:42.5%; height:50px; top:340%; border-radius:5px; color:white; background:#474BFF;text-decoration: none; border:none; font-size:15px;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;font-family: 'Outfit', sans-serif;}
#letscon:hover{opacity:0.85;}
#pt8cnt{position:absolute; top:-13%; left:5%; width:40%;}
#pt1cntsm{position:relative; top:-40px;}
@media only screen and (max-width: 550px) {
  #pt1cntli{font-family: 'Outfit', sans-serif; font-weight:200; font-size:19px; color:#253138;}
#pt1cntsm{position:relative; top:-20px;}
#kdshowtg{position:absolute; top:27%; left:50px; color:white; font-size:20px; font-family: 'Fredoka One', cursive;}
.box:hover {
  -webkit-transform: scale(1, 1);
  opacity:0.95;

}

.fa-chevron-left{display:block;}
.fa-chevron-right{display:block;}
  #proname{position:relative; top:15px; font-size:25px; color:#292F4D;}
#creator{position:relative; top:15px; font-size:16px; color:#717589; letter-spacing:0.5px;}
#logo{font-family: 'Fredoka One', cursive; color: #0F75BB; position:absolute; top:0px; left:30px; font-size:22px;}
.container {
  display: inline-block;
  cursor: pointer;float:left; margin-left:20px; font-size:18px;
  position:relative; top:15px;
}
#animContainer{position:absolute; top:5%; width:auto; height:45%; left:0px; z-index:-5;}

#part1{position:absolute; top:0%; left:0%; width:100%; height:850px; overflow:hidden;}
.navsc{display:none;}
#pt1hed{position:absolute; top:45%; left:5%; width:90%;}
#pt1hedcnt{font-family: 'Playfair Display', serif; line-height:110%; font-size:45px; color:#253138; }
#pt1cnt{font-family: 'Outfit', sans-serif; position:relative; top:0px; line-height:150%; font-weight:300; font-size:16px; color:#253138; }
#pt1inp{float:left; width:90%; height:50px; margin-top:10px; border:none; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; border-radius:5px; padding-left:10px; font-size:18px;}
#pt1sub{float:left; width:165px; position:relative; top:-30px; height:50px; margin:15px; margin-left:0px; border-radius:5px; color:white; background:#0F75BB;text-decoration: none; border:none; font-size:15px;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;font-family: 'Outfit', sans-serif;}

#lm{position:absolute; top:830px; left:0%; width:100%; height:70px; font-size:29px; overflow:hidden;font-family:myFirstFont;color: #2271E8;}

#part2{position:absolute; top:920px; left:0%; width:100%; height:1000px; overflow:hidden;}
#animContainer1{position:absolute; top:-50px; width:auto; height:500px; left:0%; z-index:-5;}
#anim1cnt{position:absolute; top:350px; width:92%; left:4%; z-index:1;}

#part3{position:absolute; top:3370px; left:0%; width:100%; height:1200px; overflow:hidden;}
#animContainer2{position:absolute; top:-100px; width:auto; height:500px; left:0%; z-index:-5;}
#anim2cnt{position:absolute; top:400px; width:92%; left:4%; z-index:1;}
#note{position:absolute; right:5%; bottom:75px; font-size:13px; font-family: 'Outfit', sans-serif; font-weight:200;}


#part4{position:absolute; top:3000px; left:0%; width:100%; height:1200px; overflow:hidden;}
#animContainer3{position:absolute; top:-50px; width:auto; height:500px; left:0%; z-index:-5;}
#anim3cnt{position:absolute; top:450px; width:92%; left:4%; z-index:1;}

#part5{position:absolute; top:1920px; left:0%; width:100%; height:700px; overflow:hidden;}
#oc{position:relative; top:0%; left:0%; width:100%; height:10%;font-size:29px; overflow:hidden;font-family:myFirstFont;color: #2271E8;}
#part6{position:absolute; top:10%; left:3%; width:1300px; height:75%;}
#part6dv{float:left; height:500px; margin-left:20px; width:350px; border-radius:10px;}

#letscon{position:absolute; width:40%; left:27.5%; height:50px; top:2550px; border-radius:5px; color:white; background:#474BFF;text-decoration: none; border:none; font-size:15px;box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;font-family: 'Outfit', sans-serif;}

#part7{ position:absolute; top:4700px; left:0%; width:100%; height:650px; overflow:hidden;}
#pt7head{font-family: 'Roboto', sans-serif; color:#292F4D; font-size:25px; position:relative; top:-180px;}
#pt7cmtpos{position:absolute; left:0%; top:300px; width:100%;}
#pt7cmt{padding:10px; font-family: 'Outfit', sans-serif; font-weight:200;width:100%; font-size:16px; color:#292F4D;}
#pt7chr{position:absolute; top:10%; left:0%; width:100%; height:45%;}
#pt7img{width:180px; height:180px; border-radius:50%; left:30%; position:relative; top:100px; overflow:hidden; border:3px solid #cccccc;}


#kdsshcnt{position:absolute; top:2670px; width:100%; height:10%; left:0%;}
#kidshow{position:absolute; top:2750px; width:1080px; left:4%; overflow:hidden; height:500px;}
#kdshow{position:relative; float:left; width:30%; height:420px; overflow:hidden; margin-left:2.5%;}
#kdname{position:absolute; top:77.5%; left:0%; width:100%; height:22.5%; background:white; font-family: 'Roboto', sans-serif; z-index:5;}
#proname{position:relative; top:2px; left:20px; font-size:16px; color:#202121; font-weight:400;}
#creator{position:relative; top:-7px; margin-left:20px; font-size:13px; color:#202121; letter-spacing:0.5px; font-weight:300;}
#creatorname{position:relative; top:5px;}
#creatorpic{float:left; width:30px; height:30px; margin-right:15px; clip-path: circle(50% at 50% 50%);}
#viewm{cursor:pointer; position:absolute; top:3230px; width:30%; height:6%; left:35%; font-family: 'Roboto', sans-serif; border:2.5px solid #f2f2f2; background:#f2f2f2; color:#a6a6a6; border-radius:5px; font-size:16px; z-index:8;}

#pt8cnt{position:absolute; top:-13%; left:5%; width:80%;}
#part8{position:absolute; font-family: 'Outfit', sans-serif; font-weight:600; top:4500px; left:0%; width:100%; height:530px; background: #0D42AF; overflow:hidden; color:white;}
#pt8hd{font-size:30px; position:relative; top:50px;font-weight:800; letter-spacing:1px; font-size:40px;}
#pt8sm{font-size:22px; width:90%; position:relative; left:2%; line-height:100%; top:70px; font-weight:200;font-weight:500; letter-spacing:1px; font-size:16px; position:relative; top:-30px;}
#pt8fm{width:auto; height:200px; top:30px; position:relative; top:160px; left:5%;}
#pt8ip{float:left; width:90%; height:50px; border:none; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; border-radius:5px; padding-left:10px; font-size:18px;}
#pt8bt{float:left; width:135px; height:50px; margin:15px; margin-left:0px; border-radius:5px; color:white; background:#F5A623;text-decoration: none; border:none; font-size:15px; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;font-family: 'Outfit', sans-serif;}


#foot{position:absolute; font-family: 'Outfit', sans-serif; font-weight:600; top:5030px; left:0%; width:100%; height:850px; overflow:hidden; color:white;}
#footlogocnt{float:left; margin:0px; margin-left:20px;}
#footlogotxt{font-family: 'Outfit', sans-serif; font-weight:200; font-size:16px; position:relative; top:-20px; color:#292F4D; width:90%;}
#ftsmhdct{float:left; margin:40px; margin-top:0px; width:100px; height:auto;}

.dummy{display:none;}

}